In [2]:
#Import Libraries
import pandas as pd

In [36]:
import numpy as np

In [37]:
#Read the dataset using Pandas
df = pd.read_excel('EmpTurnoverDS.xlsx')

In [38]:
#Use Shape to see the number of rows and columns 
df.shape

(10322, 35)

In [39]:
#Use Head to get a sense of the data in each column 
df.head()

,Age,Turnover,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,33.0,Yes,Non-Travel,241,Hardware,16,3,Technical Degree,1,3505,...,1,80,4,35.0,4.0,4,13,2,8.0,11
1,35.0,Yes,Non-Travel,679,Support,7,2,Life Sciences,1,1129,...,1,80,1,5.0,1.0,1,4,3,3.0,4
2,27.0,Yes,Travel_Frequently,359,Hardware,50,1,Life Sciences,1,6305,...,4,80,4,10.0,4.0,2,4,2,4.0,2
3,44.0,No,Travel_Rarely,1133,Software,12,5,Life Sciences,1,4595,...,4,80,3,19.0,4.0,1,14,7,12.0,2
4,56.0,No,Travel_Rarely,118,Software,43,2,Human Resources,1,7203,...,2,80,1,3.0,3.0,4,1,1,1.0,1

In [40]:
#View a quick summary of the dataset using Info
df.info

<bound method DataFrame.info of         Age Turnover     BusinessTravel  DailyRate       Department  \
0      33.0      Yes         Non-Travel        241         Hardware
1      35.0      Yes         Non-Travel        679          Support
2      27.0      Yes  Travel_Frequently        359         Hardware
3      44.0       No      Travel_Rarely       1133         Software
4      56.0       No      Travel_Rarely        118         Software
...     ...      ...                ...        ...              ...
10317  23.0       No      Travel_Rarely       1373            Sales
10318  47.0      Yes         Non-Travel       1250  Human Resources
10319  32.0       No         Non-Travel        145         Hardware
10320  47.0      Yes      Travel_Rarely        486         Hardware
10321  40.0      Yes  Travel_Frequently       1213         Hardware

       DistanceFromHome  Education    EducationField  EmployeeCount  \
0                    16          3  Technical Degree              1
1                     7          2     Life Sciences              1
2                    50          1     Life Sciences              1
3                    12          5     Life Sciences              1
4                    43          2   Human Resources              1
...                 ...        ...               ...            ...
10317                 2          3   Human Resources              1
10318                27          3           Medical              1
10319                49          1             Other              1
10320                44          5             Other              1
10321                33          1  Technical Degree              1

       EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
0                3505  ...                         1            80
1                1129  ...                         1            80
2                6305  ...                         4            80
3                4595  ...                         4            80
4                7203  ...                         2            80
...               ...  ...                       ...           ...
10317            9552  ...                         1            80
10318            4546  ...                         4            80
10319            9885  ...                         3            80
10320            4636  ...                         3            80
10321            5122  ...                         3            80

       StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                     4               35.0                    4.0
1                     1                5.0                    1.0
2                     4               10.0                    4.0
3                     3               19.0                    4.0
4                     1                3.0                    3.0
...                 ...                ...                    ...
10317                 4               26.0                    4.0
10318                 1               19.0                    6.0
10319                 4               22.0                    5.0
10320                 3               12.0                    6.0
10321                 4               29.0                    3.0

      WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
0                   4              13                  2
1                   1               4                  3
2                   2               4                  2
3                   1              14                  7
4                   4               1                  1
...               ...             ...                ...
10317               3               1                  1
10318               2              17                  1
10319               4              17                 11
10320               4               7                  5
10321               4              29                 27

       YearsSinceLastPromotion  YearsWithCurrManager
0                          8.0                    11
1                          3.0                     4
2                          4.0                     2
3                         12.0                     2
4                          1.0                     1
...                        ...                   ...
10317                      1.0                     1
10318                      8.0                    11
10319                     13.0                     2
10320                      5.0                     1
10321                     27.0                    18

[10322 rows x 35 columns]>

In [41]:
#Get each Column Datatype using .dtypes
df.dtypes

Age                         float64
Turnover                     object
BusinessTravel               object
DailyRate                     int64
Department                   object
DistanceFromHome              int64
Education                     int64
EducationField               object
EmployeeCount                 int64
EmployeeNumber                int64
EnvironmentSatisfaction       int64
Gender                       object
HourlyRate                    int64
JobInvolvement                int64
JobLevel                      int64
JobRole                      object
JobSatisfaction               int64
MaritalStatus                object
MonthlyIncome               float64
MonthlyRate                 float64
NumCompaniesWorked          float64
Over18                       object
OverTime                     object
PercentSalaryHike             int64
PerformanceRating             int64
RelationshipSatisfaction      int64
StandardHours                 int64
StockOptionLevel              int64
TotalWorkingYears           float64
TrainingTimesLastYear       float64
WorkLifeBalance               int64
YearsAtCompany                int64
YearsInCurrentRole            int64
YearsSinceLastPromotion     float64
YearsWithCurrManager         object
dtype: object

In [42]:
#Count the Duplicates in the Dataset
df.duplicated().sum()

np.int64(298)

In [43]:
#See all rows that are duplicates
df[df.duplicated()]

,Age,Turnover,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
712,22.0,No,Travel_Rarely,611,Sales,33,2,Other,1,416,...,3,80,4,5.0,5.0,2,5,2,5.0,3
985,42.0,No,Non-Travel,568,Sales,50,1,Life Sciences,1,9921,...,3,80,1,10.0,3.0,3,4,2,1.0,3
1022,28.0,Yes,Travel_Rarely,406,Research & Development,38,1,Technical Degree,1,5528,...,2,80,2,38.0,3.0,3,23,19,11.0,7
1033,29.0,Yes,Non-Travel,492,Support,49,5,Marketing,1,5587,...,1,80,4,13.0,4.0,1,9,6,9.0,7
1212,41.0,Yes,Travel_Rarely,711,Hardware,49,5,Human Resources,1,9892,...,2,80,3,9.0,1.0,3,7,4,5.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10272,43.0,No,Non-Travel,567,Support,43,5,Human Resources,1,9851,...,2,80,3,1.0,1.0,1,1,1,1.0,1
10275,47.0,Yes,Non-Travel,1034,Hardware,2,4,Life Sciences,1,9951,...,1,80,4,3.0,4.0,1,1,1,1.0,1
10290,27.0,No,Non-Travel,202,Research & Development,16,5,Marketing,1,9920,...,4,80,2,23.0,1.0,3,5,5,5.0,4
10291,27.0,No,Travel_Rarely,649,Hardware,44,4,Human Resources,1,9908,...,3,80,1,20.0,6.0,2,3,3,1.0,3
10319,32.0,No,Non-Travel,145,Hardware,49,1,Other,1,9885,...,3,80,4,22.0,5.0,4,17,11,13.0,2

In [44]:
#Drop Duplicate rows keeping the first instance of each row based on the column EmployeeNumber
df = df.drop_duplicates(subset=['EmployeeNumber'], keep='first')

In [45]:
#Get new column count after dropping duplicates
df.shape

(9999, 35)

In [46]:
#Get a count of each column that has a null or missing value (only show columns with null greater than 0)
df.isnull().sum()[df.isnull().sum() > 0]

EducationField               1
Gender                       3
MonthlyIncome                1
MonthlyRate                  2
NumCompaniesWorked           1
TotalWorkingYears            1
TrainingTimesLastYear      410
YearsSinceLastPromotion      2
dtype: int64

In [47]:
#fill in null values with (0.0) for numeric columns
df.loc[:, 'TrainingTimesLastYear'] = df['TrainingTimesLastYear'].fillna(0.0)
df.loc[:, 'NumCompaniesWorked'] = df['NumCompaniesWorked'].fillna(0.0)

In [48]:
#fill in null values with 'Unknown' for object columns
df.loc[:, 'EducationField'] = df['EducationField'].fillna('Unknown')
df.loc[:, 'Gender'] = df['Gender'].fillna('Unknown')

In [49]:
#Use the .interpolate method to fill in null values in meaningful numeric columns 
df.loc[:, 'MonthlyIncome'] = df['MonthlyIncome'].interpolate()
df.loc[:, 'MonthlyRate'] = df['MonthlyRate'].interpolate()
df.loc[:, 'TotalWorkingYears'] = df['TotalWorkingYears'].interpolate()
df.loc[:, 'YearsSinceLastPromotion'] = df['YearsSinceLastPromotion'].interpolate()

In [50]:
#Check to ensure null or missing values have been dealt with
df.isnull().sum()[df.isnull().sum() > 0]

Series([], dtype: int64)

In [51]:
#Identify Inconsistent Entries - Loop through each column and get every unique value 
inconsistent_entries = {}
for column in df.select_dtypes(include=['object']).columns:
    unique_values = df[column].unique()
    inconsistent_entries[column] = df[column].unique()
    print(f"{column}: {(unique_values)}")

Turnover: ['Yes' 'No']
BusinessTravel: ['Non-Travel' 'Travel_Frequently' 'Travel_Rarely' 1 -1 '00' ' ']
Department: ['Hardware' 'Support' 'Software' 'Human Resources' 'Sales'
 'Research & Development']
EducationField: ['Technical Degree' 'Life Sciences' 'Human Resources' 'Other' 'Medical'
 'Marketing' ' ' 'Unknown']
Gender: ['Female' 'Male' 'Unknown']
JobRole: ['Manufacturing Director' 'Research Director' 'Sales Representative'
 'Developer' 'Laboratory Technician' 'Human Resources'
 'Healthcare Representative' 'Research Scientist' 'Manager'
 'Sales Executive' ' ']
MaritalStatus: ['Married' 'Single' 'Divorced']
Over18: ['Y']
OverTime: ['Yes' 'No']
YearsWithCurrManager: [11 4 2 1 7 3 8 12 6 16 9 5 27 13 21 22 18 29 15 14 10 19 20 23 24 17 30
 28 31 26 34 25 36 32 37 33 'na' 38 35 -1000]

In [52]:
#Use dictionary replace method to take Inconsistent Entries and replace with 'Unknown'
df.loc[:, 'BusinessTravel'] = df['BusinessTravel'].replace({1: 'Unknown', -1: 'Unknown', '00': 'Unknown', ' ': 'Unknown'})
df.loc[:, 'EducationField'] = df['EducationField'].replace({' ': 'Unknown'})
df.loc[:, 'JobRole'] = df['JobRole'].replace({' ': 'Unknown'})

In [53]:
#Change column to a numeric datatype and changes any value that cant be converted to a numeric value to a NaN value
df.loc[:, 'YearsWithCurrManager'] = pd.to_numeric(df['YearsWithCurrManager'], errors='coerce')

In [54]:
#Change values less than 0 to be NaN
df.loc[df['YearsWithCurrManager'] < 0, 'YearsWithCurrManager'] = np.nan

In [55]:
#Ensure the columns new datatype is set to Float
df.loc[:, 'YearsWithCurrManager'] = df['YearsWithCurrManager'].astype(float)

In [56]:
#Use Describe to help identify outliers (Mostly looking at Min and Max values in each column)
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
count,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,...,9999.000000,9999.000000,9999.0,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
mean,39.048105,806.611161,26.043504,2.973397,0.999800,5000.983598,2.492149,114.760876,2.505151,3.007001,...,2.501250,2.490849,80.0,2.497650,20.569457,3.342834,2.488449,10.699770,5.815382,5.893789
std,12.554701,405.100129,53.088154,1.417566,0.034644,2886.634951,1.117570,49.514780,1.115705,1.402193,...,1.125267,1.114603,0.0,1.117685,11.737883,1.808793,1.117985,8.826067,5.908054,6.026212
min,12.000000,100.000000,1.000000,1.000000,-1.000000,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,1.000000,80.0,1.000000,-1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,28.000000,455.000000,13.000000,2.000000,1.000000,2501.500000,1.000000,72.000000,2.000000,2.000000,...,1.000000,1.500000,80.0,2.000000,11.000000,2.000000,1.000000,3.000000,1.000000,2.000000
50%,39.000000,808.000000,25.000000,3.000000,1.000000,5001.000000,2.000000,115.000000,3.000000,3.000000,...,3.000000,2.000000,80.0,2.000000,21.000000,3.000000,2.000000,8.000000,4.000000,4.000000
75%,50.000000,1160.000000,38.000000,4.000000,1.000000,7500.500000,3.000000,158.000000,3.000000,4.000000,...,4.000000,3.000000,80.0,4.000000,31.000000,5.000000,3.000000,16.000000,8.000000,8.000000
max,148.000000,1500.000000,3737.000000,5.000000,3.000000,10000.000000,4.000000,200.000000,4.000000,5.000000,...,4.000000,4.000000,80.0,4.000000,222.000000,6.000000,4.000000,40.000000,39.000000,38.000000

In [57]:
#Fix the outliers in 'Age' with capping at 18 and 100 
df.loc[df['Age'] < 18, 'Age'] = 18
df.loc[df['Age'] > 100, 'Age'] = 100

In [58]:
#Employee Count should only be 1. This fix is to correct the -1s in the data
df.loc[df['EmployeeCount'] < 0, 'EmployeeCount'] = 1

In [59]:
#Monthly income has a negative value. To fix by applying abs() to the value
df.loc[:,'MonthlyIncome'] = df['MonthlyIncome'].abs()

In [61]:
#TotalWorkingYears has a -1 for the min. Fix will be to assign -1 to 1
df.loc[df['TotalWorkingYears'] < 0, 'TotalWorkingYears'] = 1

In [62]:
#Ensure outliers have been dealt with
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
count,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,...,9999.000000,9999.000000,9999.0,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000
mean,39.044204,806.611161,26.043504,2.973397,1.000200,5000.983598,2.492149,114.760876,2.505151,3.007001,...,2.501250,2.490849,80.0,2.497650,20.569657,3.342834,2.488449,10.699770,5.815382,5.893789
std,12.520479,405.100129,53.088154,1.417566,0.020001,2886.634951,1.117570,49.514780,1.115705,1.402193,...,1.125267,1.114603,0.0,1.117685,11.737533,1.808793,1.117985,8.826067,5.908054,6.026212
min,18.000000,100.000000,1.000000,1.000000,1.000000,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,1.000000,80.0,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,28.000000,455.000000,13.000000,2.000000,1.000000,2501.500000,1.000000,72.000000,2.000000,2.000000,...,1.000000,1.500000,80.0,2.000000,11.000000,2.000000,1.000000,3.000000,1.000000,2.000000
50%,39.000000,808.000000,25.000000,3.000000,1.000000,5001.000000,2.000000,115.000000,3.000000,3.000000,...,3.000000,2.000000,80.0,2.000000,21.000000,3.000000,2.000000,8.000000,4.000000,4.000000
75%,50.000000,1160.000000,38.000000,4.000000,1.000000,7500.500000,3.000000,158.000000,3.000000,4.000000,...,4.000000,3.000000,80.0,4.000000,31.000000,5.000000,3.000000,16.000000,8.000000,8.000000
max,100.000000,1500.000000,3737.000000,5.000000,3.000000,10000.000000,4.000000,200.000000,4.000000,5.000000,...,4.000000,4.000000,80.0,4.000000,222.000000,6.000000,4.000000,40.000000,39.000000,38.000000

In [63]:
#Check the max value of Column with extreme outlier
df['MonthlyRate'].max()

np.float64(872214872214.0)

In [65]:
#Identify all values that are extreme outliers in this column
unique_values = df['MonthlyRate'].unique()
for num in unique_values:
    if num > 2000000:
        print(num)

872214872214.0
877411155.0

In [66]:
#Create a variable containing the known outliers
outlier_values = [872214872214.0, 877411155.0]

In [67]:
#Find the mean of the all the rows not including the outliers
mean_value = df[df['MonthlyRate'].isin(outlier_values) == False]['MonthlyRate'].mean()

In [68]:
#Set the two rows with outliers to the calculated mean value
df.loc[df['MonthlyRate'].isin(outlier_values), 'MonthlyRate'] = mean_value

In [69]:
#Check the new max value for Outlier Column
df['MonthlyRate'].max()

np.float64(1523280.0)

In [70]:
#Save updated dataset to a new Excel file
df.to_excel('Updated_EmpTurnoverDS2.xlsx', index=False)

In [ ]:
#https://wgu.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=e0389bf2-bff1-4184-8e7b-b2240179e59a